.header {
  display:inline;
  float:right;
}
.toplist li {
  display:inline;
  float:left;
}

li a{
  text-decoration:none;
}

li a:hover{
  text-decoration:underline;
}

.footer{
  clear:both;
}

.footer #leftside li{
  display:inline;
  float:left;
}
.footer #rightside li{
  display:inline;
  float:right;
}
